.custom-pane {
    -fx-background-color: #baac9f;
    -fx-background-radius: 3px;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.font-regular {
    -fx-font-size: 13px;
    -fx-font-family: "Arial", sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #ece2d8;
}

.number-regular {
    -fx-font-size: 20px;
    -fx-font-family: "Nirmala UI", sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.time-display-style {
    -fx-font-size: 20px;
    -fx-font-family: "Nirmala UI", sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #3f3e3e;
}

.button {
    -fx-background-color: #eccc82;
    -fx-background-radius: 5px;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-font-size: 16px;
    -fx-font-family: "JetBrains Mono Medium", sans-serif;
    -fx-text-fill: #f7f4e7;
    -fx-text-alignment: center;
}

.button:hover {
    -fx-background-color: #baafa2;
    -fx-background-radius: 3px;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-font-size: 16px;
    -fx-font-family: "JetBrains Mono Medium", sans-serif;
    -fx-text-fill: #6a5a46;
    -fx-text-alignment: center;
}

.button:pressed {
    -fx-background-color: #f1d7bb;
    -fx-background-radius: 4px;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-font-size: 16px;
    -fx-font-family: "JetBrains Mono Medium", sans-serif;
    -fx-text-fill: #ece2d8;
    -fx-text-alignment: center;
}

.board-style {
    -fx-background-color: #cbbfb3;
    -fx-background-radius: 3px;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-border-color: #baac9f;
    -fx-border-width: 11px;
    -fx-border-radius: 3px;
}

.control-panel-style {
    -fx-background-color: rgba(255, 224, 123, 0.20);
    -fx-background-radius: 12px;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-border-style: dashed;
    -fx-border-color: #eccc82;
    -fx-border-width: 2px;
    -fx-border-radius: 12px;

}

#upButton {
    -fx-background-image: url("/assets/buttonIcon/up-custom.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}

#upButton:pressed {
    -fx-background-image: url("/assets/buttonIcon/up.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}

#downButton {
    -fx-background-image: url("/assets/buttonIcon/down-custom.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}

#downButton:pressed {
    -fx-background-image: url("/assets/buttonIcon/down.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}

#leftButton {
    -fx-background-image: url("/assets/buttonIcon/left-custom.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}

#leftButton:pressed {
    -fx-background-image: url("/assets/buttonIcon/left.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}

#rightButton {
    -fx-background-image: url("/assets/buttonIcon/right-custom.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}

#rightButton:pressed {
    -fx-background-image: url("/assets/buttonIcon/right.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}

.sidebar-pane {
    -fx-background-color: #484747;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.sidebar-custom-text-style {
    -fx-font-size: 18px;
    -fx-text-fill: #ece2d8;
    -fx-font-family: "Lilita One";
}

.text-field-style {
    -fx-font-size: 16px;
    -fx-font-family: "Lilita One";

    -fx-text-fill: #ffffff;
    -fx-border-color: #565252;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-color: #a7a7a2;
    -fx-background-radius: 10px;
}

.save-button-style {
    -fx-background-color: #6f6b65;
    -fx-background-radius: 5px;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-font-size: 18px;
    -fx-font-family: "Lilita One";
    -fx-text-fill: #ece2d8;
    -fx-text-alignment: center;

}

.save-button-style:hover {
    -fx-background-color: rgba(146, 137, 137, 0.82);
    -fx-background-radius: 5px;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-font-size: 18px;
    -fx-font-family: "Lilita One";
    -fx-text-fill: #ece2d8;
    -fx-text-alignment: center;

}

.arrow-style {
    -fx-graphic: url("/assets/buttonIcon/arrow.png");
}

.arrow-style:hover {
    -fx-graphic: url("/assets/buttonIcon/arrow-hover.png");
}

.arrow-style:pressed {
    -fx-graphic: url("/assets/buttonIcon/arrow.png");
}
