.root {
    -fx-background-image: url("/assets/bg2048.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#tilteLabel {
    -fx-font-size: 32px;
    -fx-text-align: center;
    -fx-graphic-text-gap: 10;
    -fx-font-family: 'cursive', Playbill; /* 这是一种典型的像素字体 */
    -fx-text-fill: rgba(236, 137, 67, 0.94);
    -fx-effect: dropshadow(two-pass-box, #727272, 12, -0.2, 2, 5);
}

.button-default-style {
    -fx-text-fill: rgba(255, 255, 255, 0.94);
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: 'fantasy', cursive;
    -fx-effect: innershadow(three-pass-box, #8e7965, 2.5, 0.5, 1, 1);

}

.button-default-style:hover {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 18px;
    -fx-font-family: 'fantasy', cursive;
    -fx-border-color: rgb(186, 172, 159);
    -fx-border-width: 7px;
    -fx-border-radius: 2px;
    -fx-background-color: rgb(203, 191, 179);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, #FFFFFF, 5, 1.0, 0, 0);
}



